@model List<GroceryList.Models.Products>
@using Microsoft.AspNetCore.Http
@using GroceryList.Extensions
@inject IHttpContextAccessor HttpContextAccessor
<br /><br />
      <form method="post">
          <div class="row">
              @foreach (var product in Model)
              {
                  <div class="col-4">
                      <div class="card mb-4">
                          <div class="card-header">
                              <h4 class="my-0 font-weight-normal">
                                  <label style="font-size:23px;color:darkslateblue;">@product.Name</label>
                              </h4>
                              <h4>
                                  <label style="font-size:20px; color:#a51313;"><b>@product.Price lv./kg.</b></label>
                              </h4>
                          </div>

                          <img class="card-img-top" style="height:100%;" width="100%" src="@product.Image" alt="Card Image" />
                          <div class="card-body">
                              <div class="d-flex justify-content-between align-items-center">

                                  <input hidden asp-for="@product.Id" />

                                  @{
                                      bool isInBag = false;
                                      List<int> lstCart = HttpContextAccessor.HttpContext.Session.Get<List<int>>("ssShoppingList");
                                      if (lstCart != null && lstCart.Contains(product.Id))
                                      {
                                          isInBag = true;
                                      }
                                  }
                                  @if (isInBag)
                                  {
                                      <button type="submit" value="Remove From List" asp-action="remove" asp-route-id="@product.Id" class="btn btn-danger form-control">Remove From List</button>
                                  }
                                  else
                                  {
                                      <button type="submit" value="Add to List" asp-route-id="@product.Id" class="btn btn-warning" form-control>Add To List</button>
                                  }

                                  <a asp-action="Details" asp-controller="Home" asp-area="Customer" class="btn btn-success pull-right" asp-route-id="@product.Id"> View Details</a>
                              </div>
                          </div>

                      </div>
                  </div>

              }
          </div>
      </form>